/* 768px */

@media screen and (min-width: 769px) {
  
    #topbar {
        justify-content: flex-start;
    }

    main {
        padding: 40px;
    }

    .recipe-origin {
        display: inline;
    }
  
    .recipe-name {
        font-size: xx-large;
    }
    
    .recipe-card {
        
        
        ul {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .btn {
        font-size: 25px;
    }

    .ads {
        display: flex;
    }

    .clearfix {
       
        img {
            float: inline-start;
            margin: 20px;
        }

    }
}

/* 992px*/

@media screen and (min-width: 993px) {

     .recipe-name {
        font-size: xxx-large;
    }
    
    .recipe-card {
        display: flex;
        ul { 
            display: block;
        }
    }

    .social-networks .label {
	display: block;
    }

    footer {
         display: flex;
         justify-content: space-between;
    }
}

