/* Soluzione qui */

@media screen and (min-width: 769px) {
  
    #topbar {
        justify-content: flex-start;
    }

    main {
        padding: 40px;
    }

    .recipe-origin {
        display: inline;
    }
  
    .recipe-name {
        font-size: xx-large;
}
    
    .recipe-card {
        display: flex;
    }

    .btn {
        font-size: 25px;
    }

    .ads {
        display: flex;
    }

    .clearfix {
       
        img {
            float: inline-start;
            margin: 20px;
        }

    }
}